{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <br>
    <h1>{{ subject.titleSubject }}</h1>

    {# Show list of messages corresponding to subject #}

        <p>{{ subject.visitor.pseudoVisitor }} a écrit le {{ subject.createdAtSubject | date('d-m-Y à H:i:s') }}</p><br>

        <p>{{ subject.content }}</p>

        {% for message in messages %}

            <hr>

            <p>{{ message.visitor.pseudoVisitor }} a répondu le {{ message.createdAtMessage | date('d-m-Y à H:i:s')}}</p>

            <p>{{ message.content | raw }}</p>

            <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a> 
            {{ include('subject/_delete_form.html.twig') }}

        {% endfor %}

    <br>
    <a href="{{ path('subject_index') }}">Retour aux sujets</a>
    <br>
    <a href="{{ path('message_new') }}">Répondre</a>


{% endblock %}
